<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{header}}</h1>
            <div class="add-item-form">
                <input @keyup.enter="items.push({id:items.length + 1, label: newItem})" type="text" v-model="newItem" placeholder="Add an Item">
                <label>
                    <input type="checkbox" v-model="newItemHighPriority">
                </label>
                <button @click="items.push({id:items.length + 1, label: newItem})" class="btn btn-primary">
                    Save Item
                </button>
            </div>

            
            {{newItem}} {{newItemHighPriority}}

            <!-- radio button -->
            <label>
                <input type="radio" v-model="newItemPriority" value="low">Low
            </label>
            <label>
                <input type="radio" v-model="newItemPriority" value="high">High
            </label>
            <ul>
                <li v-for="{id, label} in items" :key="id">{{label}}</li>
            </ul>

            <!-- select -->
            <label>
                <select v-model="newItemPriority">
                    <option value="low">Low</option>
                    <option value="high">High</option>
                </select>
            </label>

            <!-- checkbox high priority -->
            <label>
                <input type="checkbox" v-model="newItemHighPriority">Hight Priority
            </label>

            <!-- checkbox for multiple answ -->
            <label><input type="checkbox" v-model="iceCreamFlavors" value="vanilla">Vanilla</label>
            <label><input type="checkbox" v-model="iceCreamFlavors" value="chocolate">Chocolate</label>
            <label><input type="checkbox" v-model="iceCreamFlavors" value="strawberry">Strawberry</label>
            <label><input type="checkbox" v-model="iceCreamFlavors" value="cookies and cream">Cookies and Cream</label>
        </div>



    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const shoppingList = Vue.createApp({
            data() {
                return {
                    header: "Shopping List App",
                    newItem:  '',
                    newItemHighPriority: false,
                    iceCreamFlavors: [],
                    items: [
                        {id: 1, label: "10 party hats" },    
                        {id: 2, label: "2 board games" },   
                        {id: 3, label: "20 cups" },    
                    ]
                }
            }
        }).mount('#shopping-list')
    </script>
    </body>

</html>